:root {
    --SP_size: 400px;
}
.sneakpeak{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
}
.sp_txt{
    width: var(--SP_size);
}
.imagetext img{
    width: var(--SP_size);
}
