:root {
    --SP_size: 500px;
    
    --Light_BG: rgba(131, 129, 129, 0.349);
    --About_width: 200px;

}
.splatoon{
    font-family: Splatoon;
}
html {
    position: relative;
    min-height: 100%;
    zoom: 0.6;
}
body{
    background-image: url("images/background.png");
    color: white;
    background-size: 100%;
    background-repeat: repeat-y;
    padding-bottom: 225px;


}
@media (max-width: 735px) {
    body{
        background-size: auto;
    }
    
}
.title{
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    background-color: var(--Light_BG);
    padding-bottom: 2%;
    margin-bottom: 30px;
    border-radius: 70px;
}

h1{
    font-size: 70px;
    font-weight: 100;
    font-family: Splatoon;
    margin-bottom: -1%;
}

.center{
    text-align: center;
}

nav{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    font-size: xx-large;
    padding: 0.75%;
    display: flex;
    justify-content: space-between;
}
nav_image{
    vertical-align: middle; 
    cursor: grab;
}

items{
    width: 100%;
    text-align: right;
    padding-top: 0.4%;
    padding-right: 2%;
} 

items a{
    padding-left: 1%;
    color: white;
}
.desc{
    font-size: xx-large;
    --padding_lr: 10%;
    padding-left: var(--padding_lr);
    padding-right: var(--padding_lr);
}

.shadow{
    --shadow: 3px;
    text-shadow: var(--shadow) var(--shadow) 0 #000, var(--shadow) var(--shadow) 0 #000, var(--shadow) var(--shadow) 0 #000, var(--shadow) var(--shadow) 0 #000;
}


footer{
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: x-large;
    margin-left: 5%;
    margin-right: 5%; 
    padding-bottom: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: x-large;
}

.rounded{
    padding-top: 1.5%;
    background-color: rgba(92, 92, 92, 0.555);
    border-radius: 100px;
}


.sneakpeak{
    --SP_padding: 10%;
    padding-left: var(--SP_padding);
    padding-right: var(--SP_padding);
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
.sp_txt{
    width: var(--SP_size); 
    font-size: larger;
    text-align: center;
}

.imagetext{
    border-radius: 50px;
    padding: 1.5%;
    padding-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(169, 169, 169, 0.208);
}

.imagetext img{
    width: var(--SP_size);
    margin-bottom: 2%;
}

.about{
    margin-top: 3%;
    --abt_padding: 15%;
    padding-left: var(--abt_padding);
    padding-right: var(--abt_padding);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.info{
    padding: 1.5%;
    width: var(--About_width);
    text-align: center;
    background-color: var(--Light_BG);
    border-radius: 25px;
    --margin-tb: 3%;
    margin-top: var(--margin-tb);
    margin-bottom: var(--margin-tb);
}
.info .profile{
    width: var(--About_width);
    border-radius: 100%;
}
.buttons{
    align-content: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info button{
    margin-top: 5%;
    width: 100%;
    height: 75px;
    font-size: 40px;
    border-radius: 10px;
}


.info img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 15%;
}

.name{
    padding-top: 4%;
    font-family: Splatoon;
    font-size: 30px;
}

.buttons img{
    padding: 5%;
}
.Modrinth{
    background-color: rgb(77, 131, 40);
}

.Youtube{
    background-color: rgb(136, 0, 0);
}

.Twitch{
    background-color: rgb(165, 106, 255);
}

.Discord{
    background-color: rgb(74, 85, 202);
}

.TicToc{
    background-color: rgba(99, 21, 21, 0.589)
}


.code {
    padding: 5px;
    background-color: black;
}


/* Gallary */

.gallary{
    display: flex;
    --margin_lr: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: var(--margin_lr);
    margin-left: var(--margin_lr);
    background-color: var(--Light_BG);
    border-radius: 50px;
    justify-content: space-evenly;

    flex-wrap: wrap;
}


#gall_img{
    margin: 3%;
    height: 600px;
}

#gall_img2{
    border-radius: 20px;
    height: inherit;
}

.gall_info{
    display: flex;
    margin: 3%;
    width: 50%;
    /* background-color: orange; */
    flex-direction: column;
    justify-content: space-between;
}
.gall_txt{
    background-color: var(--Light_BG);
    padding-left: 5%;
    border-radius: 50px;
    width: 95%;
    height: 85%;
}

#gall_header{
    font-family: Splatoon;
    font-size: 55px;
    height: 25%;
    /* background-color: greenyellow; */
}


#gall_about {
    font-size: 35px;
    padding-top: 2%;
}
@media (max-width: 916px){
    #gall_img{
        height: 400px;
    }
    #gall_header{
        font-size: xx-large;
    }
    #gall_about{
        font-size: x-large;
        height: 200px;
    }
}
.gall_button{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
}

.gall_button button{
    --button_scale: 80px; 
    width: var(--button_scale);
    height: var(--button_scale);
    font-size: 30px;
    border-color:#00000000;
    border-radius: 100%;

}

/* Documentation */

.doc_section{
    background-color: var(--Light_BG);
    margin-top: 50px;
    padding: 2%;
    padding-top: 1%;
    border-radius: 50px;
}

/* Images */

.img_header{
    --margin_lr: 27%;
    --padding_td: 1%;
    font-size: xx-large;
    margin-right: var(--margin_lr);
    margin-left: var(--margin_lr);
    padding-top: var(--padding_td);
    padding-bottom: var(--padding_td);
    text-align: center;
    background-color:  var(--Light_BG);
    border-radius: 40px;
}

.images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.item {
   
    font-family: Splatoon;
    text-align: center;
    padding: 1%;
    margin: 0.5%;
    margin-right: 2%;
    background-color: var(--Light_BG);
    border-radius: 10px;
}
.item img{
    width: 100px;
}

/* How to */
.points{
    margin-top: 5%;
    --lr_margin: 5%;
    margin-left: var(--lr_margin);
    margin-right: var(--lr_margin);
}

.points div.section {
    margin-bottom: 3%;
    background-color: var(--Light_BG);
    padding: 1%;
    border-radius: 30px;
}

.points div.header {
    font-size: 250%;
    font-family: Splatoon;
}

.points div.text{
    font-size: 175%;
    line-height: 1.25;
}

/* Leaderboard */

#first{
    margin-top: 3%;
    padding: 1%;
    font-size: xx-large;
    background-color: rgba(255, 217, 0, 0.75);
    width: 200px;
    border-radius: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    --lr_padding: 3%;
    padding-right: var(--lr_padding);
    padding-left: var(--lr_padding);
}

#first img{
    --size: 80px;
    border-radius: 100%;
    width: var(--size);
    height: var(--size);
}
.second_third{
    --lr_margin: 35%;
    display: flex;
    justify-content: space-between;
    margin-left: var(--lr_margin);
    margin-right: var(--lr_margin);

}
#first, #second, #third{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#second, #third{
    padding: 2%;
    --lr_padding: 8%;
    padding-left: var(--lr_padding);
    padding-right: var(--lr_padding);
    border-radius: 200px;
    font-size: x-large;
    width: 100px;
}

#second img, #third img{
    --size: 60px;
    border-radius: 100%;
    width: var(--size);
    height: var(--size);
}

#first img, #second img, #third img{
    padding: 5%;
}

#second{
    background-color: rgba(192, 192, 192, 0.75);
}

#third{
    background-color: rgba(199, 96, 0, 0.75);
}

#remaining{
    margin-top: 50px;
    background-color: var(--Light_BG);
    border-radius: 500px;
    --lr_padding: 2%;
    padding-left: var(--lr_padding);
    padding-right: var(--lr_padding);
    margin-left: auto;
    margin-right: auto;
}

#remaining th, #remaining td{   
    padding: 20px;
    font-size: x-large;
    
}

#remaining tr td img{
    --size: 60px;
    border-radius: 100%;
    width: var(--size);
    height: var(--size);
}

/* Slider provided by W3 Schools */
/* The switch - the box around the slider */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* You can also set a specific width if needed */
    /* width: 100%; */
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


@font-face {
    font-family: Splatoon;
    src: url("Splatoon2.otf");
}
