.rotation{
    margin-top: 5%;
    display: flex;
    /* background-color: red; */
    flex-direction: column;
    --lr_margin: 15%;
    margin-left: var(--lr_margin);
    margin-right: var(--lr_margin);
    padding-bottom: 2%;
}
.section{
    display: flex;
    justify-content: space-evenly;
    /* background-color: green; */
}
.stage_img{
    width: 500px;
    border-radius: 50px;
}
.name{
    text-align: center;
    font-size: xx-large;
}

.times{
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    --lr_margin: 25%;
    --tb_margin: 1%;
    padding-left: var(--lr_margin);
    padding-right: var(--lr_margin);
    margin-bottom: var(--tb_margin);
    margin-top: var(--tb_margin);
}

.mode{
    text-align: center;
    font-size: 75px;
}

.weapons{
    display: flex;
    justify-content: space-evenly;
    --lr_padding: 20%;
    padding-left: var(--lr_padding);
    padding-right: var(--lr_padding);
    /* background-color: blue; */
}

.weapons img{
    width: 20%;
}

.rot_header{
    margin-left: 2%;
    margin-right: 2%;
    padding: 3%;
    background-repeat: no-repeat;
    background-position-y: center;
}

#turf_header{
    background-image: url("/images/Modes/turf_war.png");
}

#open_header, #series_header{
    background-image: url("/images/Modes/ranked.png");

}

#xbattle_header{
    background-image: url("/images/Modes/xbattle.png");

}

#salmon_header{
    background-image: url("/images/Modes/salmon.png");
}